<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>emotion_01</string>
		<key>lottie</key>
		<string>emotion_01</string>
		<key>id</key>
		<string>001</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_02</string>
		<key>lottie</key>
		<string>emotion_02</string>
		<key>id</key>
		<string>002</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_03</string>
		<key>lottie</key>
		<string>emotion_03</string>
		<key>id</key>
		<string>003</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_04</string>
		<key>lottie</key>
		<string>emotion_04</string>
		<key>id</key>
		<string>004</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_05</string>
		<key>lottie</key>
		<string>emotion_05</string>
		<key>id</key>
		<string>005</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_06</string>
		<key>lottie</key>
		<string>emotion_06</string>
		<key>id</key>
		<string>006</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_07</string>
		<key>lottie</key>
		<string>emotion_07</string>
		<key>id</key>
		<string>007</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_08</string>
		<key>lottie</key>
		<string>emotion_08</string>
		<key>id</key>
		<string>008</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_09</string>
		<key>lottie</key>
		<string>emotion_09</string>
		<key>id</key>
		<string>009</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_10</string>
		<key>lottie</key>
		<string>emotion_10</string>
		<key>id</key>
		<string>010</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_11</string>
		<key>lottie</key>
		<string>emotion_11</string>
		<key>id</key>
		<string>011</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_12</string>
		<key>lottie</key>
		<string>emotion_12</string>
		<key>id</key>
		<string>012</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_13</string>
		<key>lottie</key>
		<string>emotion_13</string>
		<key>id</key>
		<string>013</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_14</string>
		<key>lottie</key>
		<string>emotion_14</string>
		<key>id</key>
		<string>014</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_15</string>
		<key>lottie</key>
		<string>emotion_15</string>
		<key>id</key>
		<string>015</string>
	</dict>
</array>
</plist>
