<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.masonsoft.imsdk.uikit">

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity android:name=".app.chat.SingleChatActivity" />
        <activity android:name=".app.rtc.SingleRtcChatActivity" />
        <activity android:name=".app.chatroom.ChatRoomActivity" />
        <activity android:name=".app.chatroom.settings.ChatRoomSettingsActivity" />
        <activity android:name=".app.chatroom.edittod.ChatRoomEditTodActivity" />
    </application>
</manifest>